html, body {
  background-color: #21232A;
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.3rem;
  padding: 70px;
}

button {
  padding: 10px;
  font-size: 1.3rem;
  margin-right: 10px;
}